<app-cabecalho></app-cabecalho>
<div class="container d-flex justify-content-between align-items-center container-contato">
    <div class="contact-info w-100">
        <p>Entre em contato:</p>
        <p>Rua da neblina 280, bairro recanto da Pampulha</p>
        <p>Fone: (31) 9 75957316</p>
        <p>Email: amuniforme&#64;gmail.com</p> 
        <p>CNPJ 1399762400077</p>  
        <a href="https://wa.me/5531975957316" target="_blank"><img src="../assets/instagram.png" class="icone-contato" alt="instagram"></a>
        <a href="https://wa.me/5531975957316" target="_blank"><img src="../assets/whatsapp.png" class="icone-contato" alt="whatsapp"></a>
        <a href="https://www.facebook.com/AMUniformesConfeccao/" target="_blank"><img src="../assets/facebook.png" class="icone-contato" alt="facebook"></a>
    </div>

    <img class="d-block w-100 ilustracao" src="../../assets/maquinaCostura.png" alt="ilustracao">
</div>