<div class="container">
<app-cabecalho></app-cabecalho>

    <div class="sobre-nos">
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à AM Uniforme, confeccionando uniformes de qualidade desde 1996. Somos referência em excelência, oferecendo soluções profissionais e confortáveis para nossos clientes. Com materiais de primeira linha e qualidade técnica, garantimos durabilidade e satisfação.</p>
        <p>Nossa tradição de excelência é impulsionada pela paixão de nossa equipe em entregar resultados excepcionais. Valorizamos cada parceria e nos esforçamos para superar expectativas em qualidade e serviço.</p>
        <p>Estamos comprometidos em continuar essa tradição de excelência, inovação e satisfação do cliente. Seja você uma pequena empresa local ou uma grande corporação, estamos aqui para fornecer soluções de Uniforme que atendam às suas necessidades específicas e elevem a imagem e o profissionalismo de sua equipe.</p>              
    </div>
    <img class="d-block w-100 ilustracao" src="../../assets/empresa/fundadora.png" alt="ilustracao">
</div>