.sobre-nos {
    text-align: center;
    border-radius: 1vh;
    background-color: rgb(40, 40, 40);
    color: #9C9033;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
  }

  .container-sobre {
    margin: auto;
    padding: 1vh;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .ilustracao{
    border-radius: 1vh;
    margin-top: 2vh;
    height: 55vh;
  }

  .container{
    padding: 1vh;
  }