<div class="container">
<app-cabecalho></app-cabecalho>

    <div class="sobre-nos">
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à AM Uniforme, uma empresa dedicada à confecção de Uniforme de qualidade desde 1996. Fundada pela visionária Euza Maria Alves Silva, nossa empresa tem sido uma referência em excelência e comprometimento na indústria de vestuário corporativo.</p>
        <p>Com quase três décadas de experiência, a AM Uniforme tem sido sinônimo de qualidade superior, artesanato cuidadoso e materiais de primeira linha. Nossa jornada começou com a visão de oferecer mais do que apenas peças de vestuário, mas sim soluções que refletem profissionalismo, identidade e conforto para nossos clientes.</p>
        <p>Aqui na AM Uniforme, cada peça é mais do que um simples uniforme; é uma representação da nossa dedicação em fornecer produtos que excedam as expectativas. Utilizando os melhores materiais disponíveis no mercado e combinando-os com técnicas de fabricação de última geração, garantimos que cada uniforme seja durável, confortável e com um acabamento impecável.</p>
        <p>Nossa tradição de excelência é alimentada pela paixão e pelo compromisso de nossa equipe em entregar resultados excepcionais. Cada costura, cada detalhe é cuidadosamente trabalhado para garantir que nossos clientes recebam produtos que os representem da melhor maneira possível.</p>
        <p>Na AM Uniforme, colocamos nossos clientes em primeiro lugar. Valorizamos cada parceria e nos esforçamos para superar as expectativas em termos de qualidade, serviço e prontidão. É por isso que temos orgulho em dizer que muitos de nossos clientes são clientes fiéis, voltando a nós repetidamente devido à sua satisfação com nossos produtos e atendimento ao cliente.</p>
        <p>Estamos comprometidos em continuar essa tradição de excelência, inovação e satisfação do cliente. Seja você uma pequena empresa local ou uma grande corporação, estamos aqui para fornecer soluções de Uniforme que atendam às suas necessidades específicas e elevem a imagem e o profissionalismo de sua equipe.</p>
        <p>Junte-se a nós na jornada para vestir o sucesso com a AM Uniforme.</p>
    </div>
    <img class="d-block w-100 ilustracao" src="../../assets/fundadora.png" alt="ilustracao">
</div>