.container-cabecalho{
    background-color: rgb(40, 40, 40);
    margin-bottom: 1vh;
    border-radius: 1vh;
  }
  
  .logo
  {
    height: 10vh;
    width: 15vh;
    padding: 1vh;
  }

  .navbar{
    margin-top: 1vh;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #9C9033;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .navbar-brand,
  .navbar-toggler-icon {
    color: #9C9033;
  
  }
  
  nav{
    border-radius: 1vh;
    color: #9C9033;
  
  }