
  .contact-info {
    text-align: center;
    border-radius: 1vh;
  }

  .container {
    margin: auto;
    padding: 1vh;
    border-radius: 1vh;
    overflow: hidden;
  }
  
  footer {
    background-color: rgb(40, 40, 40);
    color: #9C9033;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
  }

/* Defina uma altura fixa para o carrossel */
.carousel {
  height: 55vh; /* Defina a altura desejada */
  overflow: hidden; /* Oculta qualquer conteúdo que exceda o tamanho do carrossel */
  border-radius: 1vh;
}

/* Ajuste a largura das imagens para preencher o carrossel horizontalmente */
.carousel-item img {
  width: 100%;
  height: auto; /* Use a altura automática para manter a proporção original */
  object-fit: cover; /* Corta a imagem para preencher completamente o espaço do carrossel */
  border-radius: 1vh;
}

.cabecalho{
  background-color: rgb(40, 40, 40);
  margin-bottom: 1vh;
}

.logo
{
  height: 10vh;
  width: 20vh;
}

.whatsapp{
  height: 5vh;
  width: 5vh;
}
.navbar{
  margin-top: 1vh; /* Espaçamento entre o cabeçalho e a navbar */
}

.navbar .navbar-nav .nav-link {
  color: #9C9033; /* Define a cor da fonte dos links da navbar */
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffffff; /* Define a cor da fonte dos links da navbar quando o mouse passa por cima */
}

.navbar-brand,
.navbar-toggler-icon {
  //filter: invert(100%);
  color: #9C9033; /* Define a cor da fonte dos links da navbar */

}

nav{
  border-radius: 1vh;
  color: #9C9033; /* Define a cor da fonte dos links da navbar */

}

  