body {
    background-color: white; /* fundo branco */
  }
  
  .container {
    margin: auto;
    padding: 20px;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 400px; /* ajuste conforme necessário */
  }
  
  footer {
    background-color: black; /* detalhes em preto */
    color: rgba(255, 217, 0, 0.500); /* detalhes em dourado */
    padding: 20px;
  }
  
  .contact-info {
    text-align: center;
  }

  .carousel-item img {
    height: 50vh;
    width: 50vh;
  }
  
  
  
  