body {
    background-color: white;
  }
  
  .container {
    margin: auto;
    padding: 1vh;
  }
  
  footer {
    background-color: black;
    color: rgba(255, 217, 0, 0.500);
    padding: 1vh;
  }
  
  .contact-info {
    text-align: center;
    border-radius: 1vh;
  }

  .container {
    border-radius: 1vh;
    overflow: hidden;
  }
  
  footer {
    background-color: black;
    color: rgba(255, 217, 0, 0.500);
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
  }

  .carousel-item img {
    border-radius: 1vh;
  }
  
  
  