.clientes {
    text-align: center;
    border-radius: 1vh;
    background-color: rgb(40, 40, 40);
    color: #9C9033;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
  }

.ilustracao{
    padding: 1vh;
    border-radius: 2vh;
}
