<div class="container">
    <app-cabecalho></app-cabecalho>
    <div class="clientes">
        <h4>Alguns de nossos clientes</h4>
        <div>
            <!-- <video width="320" height="240" controls>
                <source src="../../assets/videos/1.mp4" type="video/mp4">
            </video> -->
            <img class="d-block w-100 ilustracao" src="../../assets/clientes/1.png" alt="ilustracao">
            <img class="d-block w-100 ilustracao" src="../../assets/clientes/2.png" alt="ilustracao">
            <img class="d-block w-100 ilustracao" src="../../assets/clientes/3.png" alt="ilustracao">
        </div>
    </div>
</div>
