

  .container {
    margin: auto;
    padding: 1vh;
    border-radius: 1vh;
    overflow: hidden;
  }
  
.carousel {
  height: 55vh;
  overflow: hidden; 
  border-radius: 1vh;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1vh;
}

.icone-contato{
  height: 5vh;
  width: 5vh;
}

footer{
    text-align: center;
    border-radius: 1vh;
    background-color: rgb(40, 40, 40);
    color: #9C9033;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
}


  